.ballon {
  text-align: center;
  margin:5px;
  width:100px;
  height:50px;
   background:pink;
   border-radius: 10px;
}
.ballon:after {
 border-top:0px solid transparent;
 border-left: 5px solid transparent;
 border-right: 5px solid transparent;
 border-bottom: 5px solid pink;
 content:"";
 position:absolute;
 top:70px;
 left:15px;
}

.cat {
  position: absolute;
  display: flex;
  flex-direction: column;
  top:20px;
  left:20px;
  width:20px;
  height:200px;
  
  border-radius: 30px;

  animation: moveBall 4s 1s infinite;
}

.face{
  display: flex;
  width:50px;
  height:50px;
  border-radius: 300px 300px 0px 0px;
  background-color:#935f3e;
  border: 1px solid #935f3e;
}
.ears{
  display: flex;
}
.ear{
  transform:rotate(-10deg);
  width: 0px;height: 0px;
  border-top:20px solid none;
  border-bottom:20px solid #f0a252;
  border-right: 10px solid transparent;
  border-left: 10px solid  transparent;
}
.eye{
  border-radius: 30px 10px 30px 10px;
  background-color:gray;
  width:20px;
  height:20px;
}