#village{
  bottom:0px;
}
#cat{
  bottom:0px;
  position:absolute;
}
#ballon{
  z-index:9999;
  bottom:100px;
  left:200px;
  position:absolute;
}

#catHeart{
  position:absolute;
  opacity:0;
  position:absolute;
  color:red;
  font-size:100%;
  z-index:10000;
  bottom:110px;
  left:210px;
}

#cat:hover ~ #ballon{
  opacity:0;
}
#cat:hover ~ #catHeart{
  opacity:0.8;
}

.catGrp{
  width:100%;
  position:relative;
}