.aside {
  opacity: 1;
  visibility: inherit;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 50px;
  z-index: 1;
  text-align: right;
}
.asideBtn {
  background-color: inherit;
  border: inherit;
  position: relative;
  width: 100%;
  
  float: left;
  white-space: nowrap;
}

.dropdown{
  width:100%;
  display: block;
  position: relative;
  float: right;
}

.dropdownButton {
  font-size: 15px;
  border: none;
  background-color: inherit;
  border-radius: 10px;
}
.dropdownContent {
  display: none;
  position: absolute;
}
.asideBtn:hover svg path{ fill: #CD853F !important}
.dropdown:hover .dropdownContent { display: block; }
.dropdown:hover .dropdownButton { background-color: #CD853F; }

@media (max-width: 768px){
}